In [30]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pandasql as ps
import matplotlib as mpl

dataset = pd.read_csv("dataset_concat.csv")

In [31]:
dataset = dataset[(dataset['Sort_Type']=='quick_sort') ]

In [32]:
dataset = dataset[(dataset['List_length']>10000)]

In [62]:
df_min = dataset
df_min['Runtimes'] =  df_min['Runtimes'] /7

In [72]:
df_min.head()

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
511,quick_sort,random,10240,0.020939,7,2019-10-31 17:20:05.174097
512,quick_sort,random,10240,0.017950,7,2019-10-31 17:20:05.174097
513,quick_sort,random,10240,0.019143,7,2019-10-31 17:20:05.174097
514,quick_sort,random,10240,0.021106,7,2019-10-31 17:20:05.174097
515,quick_sort,random,10240,0.018063,7,2019-10-31 17:20:05.174097

In [74]:
plot_data = df_min.groupby(['List_length']).mean()
plot_data.head()

             Runtimes  Number_of_repeatitions
List_length
10240        0.019075                       7
20480        0.057920                       7
40960        0.057481                       7
81920        0.137591                       7
163840       0.241892                       7

In [64]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pandasql as ps
import matplotlib as mpl

plt.rcParams['axes.titlesize'] = 15
plt.rcParams['axes.labelsize'] = 12
plt.rcParams['xtick.labelsize'] = 10
plt.rcParams['ytick.labelsize'] = 10
plt.rcParams['legend.fontsize'] = 12
plt.rcParams['text.usetex'] = False
def new_figure(height=55):
    "Return figure with width 84mm and given height in mm."
    return plt.figure(figsize=(84/10.16, height/10.16))

In [67]:
# Prove that the graph in NlogN
# Changing the constants by Hit and Trial
# The time in plotted in microseconds
def plot_minimum_times(input_type='random', lower_limit=10240,
                       upper_limit=10485760, c1=100):
    filter01 =  (df_min['Data_Type_or_List_type']==input_type)
    plot_data = df_min[filter01]

    filter02 = (plot_data['List_length']<=upper_limit) &  (plot_data['List_length']>=lower_limit)
    plot_data = plot_data[filter02]
    
    plot_data = plot_data.groupby(['List_length']).mean()

    fig = new_figure()
    list_of_sorts= sorted( np.unique(plot_data['Sort_Type']).tolist() , reverse=True)
    list_of_sorts= ['quick_sort',]
    for sort_type in list_of_sorts:
        filter03 = (plot_data['Sort_Type']==sort_type)
        plot_this = plot_data[filter03]         
        plt.plot(plot_this['List_length'], plot_this['Runtimes']*1000000000 , '+' ,label=sort_type)


    n_log_n_small= c1*plot_this['List_length'] * np.log2( plot_this['List_length'] )
    plt.plot ( plot_this['List_length'], n_log_n_small,'-x', label="c1= "+str(c1) )
    
    plt.xlabel('Size of the numeric array')
    plt.ylabel('Time in Nanoseconds')
    plt.title("Runtimes of sort Algorithms for -"+input_type+" data")
    plt.legend()
    #plt.tight_layout()
#     plt.savefig("plots\For -"+input_type+" from-"+str(lower_limit)+" to-"+str(upper_limit)+".pdf" , bbox_inches='tight')
    plt.show()

In [68]:
from ipywidgets import interact #,interactive , fixed, interact_manual
pickle_object= interact(plot_minimum_times, input_type=['random', 'reverse_sorted', 'sorted']
         ,lower_limit=  np.unique(df_min['List_length']).tolist() 
         ,upper_limit=  np.unique(df_min['List_length']).tolist()
        , c1=(50,200,5)
           )

interactive(children=(Dropdown(description='input_type', options=('random', 'reverse_sorted', 'sorted'), valueâ€¦

In [70]:
def bpm(List_length, c1 ):
    return  c1*List_length * np.log2( List_length )

In [71]:
bpm(10240, 145)

19780398.835288756