By: Bishnu Poudel, Mohammed Radwan

## Benchmark Sorting Algorithms: Run timing and store in a data frame then pickle it

In [68]:
import nbimporter
from quick_sort import *
from merge_sort import *
from heap_sort_heap_size import *

## Create a data frame

In [69]:
import pandas as pd
import numpy as np
columns = ['Sort_Type','Data_Type_or_List_type','List_length','Runtimes','Number_of_repeatitions','Datetime']
df_ = pd.DataFrame( columns=columns)
df_

Empty DataFrame
Columns: [Sort_Type, Data_Type_or_List_type, List_length, Runtimes, Number_of_repeatitions, Datetime]
Index: []

## Timeit function

In [70]:
import numpy as np
import timeit
import copy

def timing_function(number_of_data_points, sort_type, seed_number=12235):
    np.random.seed (seed_number)
    test_data = np.random.random(number_of_data_points ,)
    test_data = list(test_data)
    test_data= sorted(test_data, reverse= True)

    clock = timeit.Timer ( stmt ='sort_func ( copy ( data) ) ', 
                           globals ={ 'sort_func': sort_type ,
                            'data': test_data ,
                            'copy': copy.copy })
    n_ar , t_ar = clock.autorange ()
    t = clock.repeat ( repeat =7, number = n_ar )
    return t

In [71]:
def get_time_and_write_to_dataframe(Algorithm):
    time_data_points= []

    for i in (10
              ,20,40,80,160,320,640,1280,2560,5120
              ,10240,20480,40960,81920,163840,327680,655360,1310720
              ,2621440,5242880,10485760):
        time =   timing_function(i, Algorithm ) 
        for each_time in time:
#             print (each_time)
            time_data_points.append( {'Sort_Type':Algorithm.__name__ , 'Data_Type_or_List_type':'reverese_sorted'
           ,'List_length':i, 'Runtimes': each_time ,  'Number_of_repeatitions':'7'
           ,'Datetime':pd.Timestamp.now() } )
    return time_data_points

In [72]:
# Do not run this part if you don't want the data again
list_of_dict = get_time_and_write_to_dataframe(heap_sort)

In [73]:
df_= df_.append(list_of_dict)
df_.to_csv (r'heap_sort_reverese_sorted.csv', index = None, header=True)

import pickle

name = 'heap_sort_reverese_sorted.txt' 
f=open( name , 'ab')
pickle.dump(df_,f)
f.close()
df_

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
0,heap_sort,already_sorted,10,0.247939,7,2019-11-01 23:58:02.223127
1,heap_sort,already_sorted,10,0.251913,7,2019-11-01 23:58:02.223127
2,heap_sort,already_sorted,10,0.198783,7,2019-11-01 23:58:02.223127
3,heap_sort,already_sorted,10,0.199888,7,2019-11-01 23:58:02.223127
4,heap_sort,already_sorted,10,0.194741,7,2019-11-01 23:58:02.223127
...,...,...,...,...,...,...
142,heap_sort,already_sorted,10485760,950.430129,7,2019-11-02 03:11:44.310872
143,heap_sort,already_sorted,10485760,997.480625,7,2019-11-02 03:11:44.310872
144,heap_sort,already_sorted,10485760,965.344677,7,2019-11-02 03:11:44.310872
145,heap_sort,already_sorted,10485760,989.235955,7,2019-11-02 03:11:44.310872
146,heap_sort,already_sorted,10485760,985.392883,7,2019-11-02 03:11:44.310872