By: Bishnu Poudel, Mohammed Radwan

## Benchmark Sorting Algorithms: Run timing and store in a data frame then pickle it

In [1]:
import nbimporter
from quick_sort import *
from merge_sort import *
from heap_sort_heap_size import *

Importing Jupyter notebook from quick_sort.ipynb
Importing Jupyter notebook from merge_sort.ipynb
Importing Jupyter notebook from heap_sort_heap_size.ipynb

## Create a data frame

In [2]:
import pandas as pd
import numpy as np
columns = ['Sort_Type','Data_Type_or_List_type','List_length','Runtimes','Number_of_repeatitions','Datetime']
df_ = pd.DataFrame( columns=columns)
df_

Empty DataFrame
Columns: [Sort_Type, Data_Type_or_List_type, List_length, Runtimes, Number_of_repeatitions, Datetime]
Index: []

## Timeit function

In [3]:
import numpy as np
import timeit
import copy

def timing_function(number_of_data_points, sort_type, seed_number=12235):
    np.random.seed (seed_number)
    test_data = np.random.random(number_of_data_points ,)
    test_data = list(test_data)
    test_data= sorted(test_data, reverse= True)

    clock = timeit.Timer ( stmt ='sort_func ( copy ( data) ) ', 
                           globals ={ 'sort_func': sort_type ,
                            'data': test_data ,
                            'copy': copy.copy })
    n_ar , t_ar = clock.autorange ()
    t = clock.repeat ( repeat =7, number = n_ar )
    return t

In [4]:
def get_time_and_write_to_dataframe(Algorithm):
    time_data_points= []

    for i in (10
              ,20,40,80,160,320,640,1280,2560,5120
              ,10240,20480,40960,81920,163840,327680,655360,1310720
              ,2621440,5242880,10485760):
        time =   timing_function(i, Algorithm ) 
        for each_time in time:
#             print (each_time)
            time_data_points.append( {'Sort_Type':Algorithm.__name__ , 'Data_Type_or_List_type':'reverese_sorted'
           ,'List_length':i, 'Runtimes': each_time ,  'Number_of_repeatitions':'7'
           ,'Datetime':pd.Timestamp.now() } )
    return time_data_points

In [5]:
# Do not run this part if you don't want the data again
list_of_dict = get_time_and_write_to_dataframe(heap_sort)

In [6]:
df_= df_.append(list_of_dict)
df_.to_csv (r'heap_sort_reverese_sorted.csv', index = None, header=True)

import pickle

name = 'heap_sort_reverese_sorted.txt' 
f=open( name , 'ab')
pickle.dump(df_,f)
f.close()

# See the data
df_

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
0,heap_sort,reverese_sorted,10,0.352048,7,2019-11-02 08:35:10.011534
1,heap_sort,reverese_sorted,10,0.305705,7,2019-11-02 08:35:10.011534
2,heap_sort,reverese_sorted,10,0.290089,7,2019-11-02 08:35:10.011534
3,heap_sort,reverese_sorted,10,0.274926,7,2019-11-02 08:35:10.011534
4,heap_sort,reverese_sorted,10,0.447738,7,2019-11-02 08:35:10.011534
...,...,...,...,...,...,...
142,heap_sort,reverese_sorted,10485760,605.025936,7,2019-11-02 10:56:32.456308
143,heap_sort,reverese_sorted,10485760,613.715586,7,2019-11-02 10:56:32.456308
144,heap_sort,reverese_sorted,10485760,462.572268,7,2019-11-02 10:56:32.456308
145,heap_sort,reverese_sorted,10485760,419.299901,7,2019-11-02 10:56:32.456308
146,heap_sort,reverese_sorted,10485760,467.856438,7,2019-11-02 10:56:32.456308